
{% block content %}
  <h1>Checklists</h1>

    <div class="row">
        {% for checklist in checklists %}

            <div class="col-sm-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-body">
                        <p class="card-text">{{ checklist.title }}</p>

                        <div class="d-flex justify-content-around">
                            <a href="{% url 'checklist_item_list' checklist.pk %}"
                                   class="btn btn-warning px-4">item</a>
                            {% if checklist.author == request.user %}
                                <a href="{% url 'checklist_update' checklist.pk %}"
                                   class="btn btn-success px-3">Update</a>
                            {% endif %}
                            {% if checklist.author == request.user %}
                                <a href="{% url 'checklist_delete' checklist.pk %}"
                                   class="btn btn-danger px-3">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Листов нет</p>
        {% endfor %}

    {% endblock %}

    </div>