
{% extends 'base.html' %}
{% block nav %}

{% endblock %}

{% block content %}


    <h1>Детальная информация о пользователе</h1>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Полное имя:</strong> {{ user.full_name }}</p>
    <p><strong>Активен:</strong> {% if user.is_active %}Да{% else %}Нет{% endif %}</p>
    <p><strong>Токен активации:</strong> {{ user.activation_token }}</p>

    <h2>Последние просмотренные доски:</h2>
    <ul>
        {% for board in user.recently_viewed_boards.all %}
            <li>{{ board.title }}</li>
        {% empty %}
            <li>Нет просмотренных досок</li>
        {% endfor %}
    </ul>

    <h2>Избранные доски:</h2>
    <ul>
        {% for board in user.favorite_boards.all %}
            <li><a href="{% url 'list_column' board.pk %}">{{ board.title }}</a></li>
        {% empty %}
            <li>Нет избранных досок</li>
        {% endfor %}
    </ul>


{% endblock %}
 

